<div class="container">
  <%= simple_form_for @cocktail do |f| %>
    <% if @cocktail.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @cocktail.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="container">
      <%= f.input :name %>
      <%= f.input :photo, input_html: { class: 'd-none', id: 'photo-input' }, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
      <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
      <br>
      <%= f.submit class: 'btn btn-primary'%>
    </div>
  <% end %>
  <div >
  </div>
</div>
