<div class="banner-container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1543479678-1ab5ca216499?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80);">
    <div class="row nav-bar">
      <%= link_to "Add Cocktail", new_cocktail_path, class: "btn btn-primary" %>
    </div>
    <div class="container">
        <div class="row title">
          <h1>The Art of Cocktails</h1>
        </div>
        <div class="row search">
          <%= simple_form_for :query, url: cocktails_path, method: "GET", html: { class: 'form-inline search-form' } do |f| %>
            <%= f.input :search, input_html: {value: ""}, label: false %>
            <%= f.submit "Search Recipes", class: "btn btn-primary" %>
          <% end %>
        </div>
    </div>
    <div class="row footer">
      <div class="arrow arrow-first"></div>
      <div class="arrow arrow-second"></div>
      <button onclick="scrollWin()" class="down-scroll hidden"></button>
    </div>
  </div>
</div>
<div id="cocktails" class='cocktails'>
  <%= render 'cocktail', cocktails: @cocktails %>
</div>

<script>
function scrollWin() {
  window.scrollBy(0, 500);
}
</script>
